* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: white;
  background: url("background.jpeg") center/cover no-repeat fixed;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.8);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  font-weight: 800;
}

.hero h2 {
  color: red;
  margin: 10px 0;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  text-decoration: none;
}

.primary {
  background: red;
  color: white;
}

.secondary {
  border: 1px solid white;
}

/* SECTION */
.section {
  padding: 100px 60px;
}

.glass {
  background: rgba(0,0,0,0.75);
  border-radius: 10px;
}

/* ABOUT FIX */
.about-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-image img {
  width: 300px;
  border-radius: 10px;
}

/* CARDS */
.card-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255,0,0,0.7);
}

/* SKILLS */
.skills span {
  background: rgba(0,0,0,0.6);
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
}

.skills span:hover {
  background: red;
}

/* ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}