* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar a {
  color: #38bdf8;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  margin-top: 10px;
  color: #94a3b8;
}

/* SECTIONS */
.section {
  padding: 100px 40px;
}

.section h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid #334155;
}

/* PROJECT GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARDS */
.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #334155;
}
